*.egg-info
*.pyc
*.pyo
*.mo
dist
.idea
.project
.pydevproject
searchindex.js
search.html
.installed.cfg
.mr.developer.cfg
uuid.txt
var*
bin/
bootstrap.sh
develop-eggs/
include/
lib/
lib64
local/
parts/
secret.cfg
src/
var/
eggs/
